<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
      <!--是否使用debug，debug模式下启用cmd模式-->
    <add key="Debug" value="true"/>
      <!--是否使用debug，debug模式下启用cmd模式-->
      <add key="LogSqlExcu" value="true"/>
      <!--是否开启数据的缓存模式，会造成数据部分延时-->
      <add  key="OpenCache" value="true"/>
      <!--是否sql运行时启用参数，防止sql注入-->
      <add key="SqlParms" value="true"/>
      <add key="log4net.Internal.Debug" value="true"/>
    <add key="ConnectionString" value="Data Source=58.221.61.242,1576;Initial Catalog=SMS_server;Persist Security Info=True;User ID=sa;Password=wangjun19871205;Max Pool Size=100;Min Pool Size=20"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="SMSServer.Wcf.SMSServerWcf">
        <endpoint address="" binding="wsHttpBinding" contract="SMSServer.Wcf.ISMSServer">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2242/Design_Time_Addresses/WcfServiceLibrary1/SMSServerWcf/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，
          请在部署前将以下值设置为 false 并删除上面的元数据终结点  -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- 要接收故障异常详细信息以进行调试，
          请将以下值设置为 true。在部署前设置为 false 
            以避免泄漏异常信息-->
          <serviceDebug includeExceptionDetailInFaults="False"/>
          <serviceThrottling maxConcurrentSessions="10000"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
