<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--是否使用debug，debug模式下启用cmd模式-->
    <add key="Debug" value="true"/>
    <!--是否使用debug，debug模式下启用cmd模式-->
    <add key="LogSqlExcu" value="true"/>
    <!--是否开启数据的缓存模式，会造成数据部分延时-->
    <add  key="OpenCache" value="true"/>
    <!--是否sql运行时启用参数，防止sql注入-->
    <add key="SqlParms" value="false"/>
    <add key="log4net.Internal.Debug" value="true"/>
    <add key="ConnectionString" value="server=127.0.0.1;User Id=root;password=123456;database=sms;Charset=utf8;port=3309"/>
    <add key="ReadBatch" value="10000"/>
    <add key="ReadTask" value="10000"/>
    <add key="ReadSender" value="10000"/>
    <add key="ReadBatchCount" value="20"/>
    <add key="SendPackCount" value="30"/>
    <add key="SendMtCount" value="10"/> 
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.4.3.0, Culture=neutral, PublicKeyToken=487d3579f5afa16c"/>
    </DbProviderFactories>
  </system.data>

</configuration>
