.sendpanel {
    clear: both;
    min-width: 850px;
    overflow-x: auto;
}

.sendpanel .pleft {
    float: left;
    width: 250px;
}

.sendpanel .pright {
     
    min-width: 550px;
     
    margin-left: 250px;
}

.text {
    padding: 4px;
}

ul.ztree {
    margin-top: 10px;
    border: 1px solid #617775;
    background: #f0f6e4;
    width: 220px;
    height: 240px;
    overflow-y: scroll;
    overflow-x: auto;
}

div.zTreeDemoBackground {
    width: 250px;
    height: 242px;
    text-align: left;
}
